body {
    font:16px/28px arial, sans-serif;
    background-color: #eaeaea;
    background-image: url(img/bg.png);
    color: #333333;
}

.container {
    width: 800px;
    margin: auto;
    background-color:#fff;
}

.header {
    padding: 20px;
}

.header .judul {
    font-size: 40px;
    font-weight: bold;
}

.header ul li{
    display: inline-block;
    margin-top: 20px;
    margin-right: 5px;
}

.header a {
    text-decoration: none;
    color: salmon;
    padding: 3px;
}

.header a:hover {
    background-color: skyblue;
    color: white;
}

.hero {
    height: 250px;
    background-image:url(img/hero.png);
    background-size: cover;
    background-position: 0 -110px;
    border-bottom: 5px solid lightskyblue;
    border-top: 5px solid salmon;
}

.content {
    padding: 20px ;
} 

.content h2 {
    font-size: 28px;
    font-weight: bold;
}

.content .penulis {
    font-size: 11px;
    margin-top: -5px;
}

.content .penulis a {
    color: salmon;
    text-decoration: none;
}

.content p {
    margin-bottom : 20px;
    font-size: 14px;
}

.footer {
    background-color: #333;
    padding: 20px;
}

.footer .copy {
    color: #eaeaea;
    text-align: center;
    font-size: 12px;
}