body {
    background-color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 { 
    font-family: "Comic Relief", system-ui;
    color: darkblue;
    font-size: 60px;
    text-align: center;
}

h4 {
    font-style: italic;
    text-align: right;
}

.p {
    text-align: center;
    color:orange;
}

p {
    text-align: center;
}

    /* error */
.a {
    color: white;
    text-decoration: none;
}

.a {
    color: red;
}

.a:hover {
    color: red;
    text-decoration: underline;
}
    /* error */

.FB {
  background-color: white;
}
.FB {
    text-decoration: none;
    font-weight: 800;
    background-color: darkblue;
}
.FB {
  color: white;
  background-color: darkblue;
} 