body {
    background-color: aqua;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 { 
    font-family: "Comic Relief", system-ui;
    color: darkblue;
    font-size: 60px;
    text-align: center;
}

h4 {
    font-style: italic;
    text-align: right;
}

.p {
    text-align: center;
    color:orange;
}

p {
    text-align: center;
}

.instagram {
    color: white;
    text-decoration: none;
}
.instagram:hover {
    color: red;
    text-decoration: underline;
}

.facebook {
    text-decoration: none;
    font-weight: 800;
}
.facebook:hover{
    color: white;
    background-color: darkblue;
}